# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# IDE and Editor Configurations
.vscode/

# OS specific files
.DS_Store
Thumbs.db
.Spotlight-V100
.Trashes

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
*.tmp

# Build artifacts
/dist/