.circle {
  width: clamp(180px, 40vw, 500px);

  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: url(https://i.imgur.com/3eHvTK3.jpeg) var(--primary-color);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px; /* Spacing between cards */
  padding: 16px; /* Space around the grid */
  border-radius: 8px; /* Optional rounded corners for container */
}

.name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.namePlate {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  gap: 2vw;
}
.iframe-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: 100%;
  padding: 1rem;
}
@media screen and (max-width: 600px) {
  .iframe-grid {
    grid-template-columns: 1fr; /* 1 column on small screens like iPhones */
  }
}

.iframe-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iframe-item iframe {
  width: 100%;
  height: 450px;
  border: none;
}

.iframe-title {
  margin-top: 0.5rem;
  font-weight: bold;
  text-align: center;
}
a {
  color: var(--primary-color);
}
