.circle {
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  background: url(https://i.imgur.com/3eHvTK3.jpeg) var(--primary-color);
  background-size: cover;
  overflow: hidden; /* Ensures the image stays within the circle */
  display: flex; /* Optional: Centers the image */
  justify-content: center; /* Optional: Centers the image horizontally */
  align-items: center; /* Optional: Centers the image vertically */
}
.container {
  display: flex;
  flex-direction: column;
  gap: 16px; /* Spacing between cards */
  padding: 16px; /* Space around the grid */
  border-radius: 8px; /* Optional rounded corners for container */
}

.name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.namePlate {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  gap: 4rem;
}
 .iframe-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    width: 100%;
    padding: 1rem;
  }

  .iframe-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .iframe-item iframe {
    width: 100%;
    height: 450px;
    border: none;
  }

  .iframe-title {
    margin-top: 0.5rem;
    font-weight: bold;
    text-align: center;
  }
  a{
      color: var(--primary-color);
  }
