:root {
  --primary-color: #a3bea4;
  --background-color: #dedbd2;
  --text-color: #4a5759;
  --hover-color: #f1f367;
  --header-font: "Fugaz One", sans-serif;
  --body-font: "Merriweather Sans", sans-serif;
}

body {
  font-family: var(--body-font);
  background-color: var(--background-color);
  color: var(--text-color);
}

h1 {
  font-family: var(--header-font);
  text-align: center;
  font-size: 4vw;
  color: var(--text-color);
}
